.message{
    padding: 10px;
    margin: 10px;
    width: fit-content;
}

.message__user{
    margin-left: auto;
    color: wheat;
    text-align: left;
}

.message__userCard {
    background-color: rgba(1, 86, 184, 0.931) !important;
}

.message__guestCard {
    background-color: wheat;
}